.img_logo_tienda{display: block; margin: auto; width: 200px; height: 200px;}
.titulo_derecha{margin-top: 30px;}
.titulo_centrado{display: block; margin: auto; margin-top: -45px;}
.body{background-color: #f7f7f7;}
#rut1{width: 80px; float: left;}
#rut2{width: 20px; float: left;}